.offset-top-15 {
  margin-top: 15px;
}

.container-wide_centered {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}